/* Start: phrase */

li {
    list-style: none;
}

.phrase {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50%;
}

.letter {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 150px;
    margin: 5px;
    border: 1px solid transparent;
    padding: .2rem .6rem;
    font-size: var(--font-size-medium);
    color: transparent;
    background: var(--color-neutral-light);
    border-radius: 5px;
}

.space {
    width: 100%;
}


.show {
    color:var(--color-font-letters);
    background-color: var(--color-box-letters);
    font-size: 20px;
    padding: 15px;
    margin: 2px;
    border-radius: 5px;
    transition: all .7s ease;
}

@media screen and (max-width: 768px) {
    .phrase {
        flex-wrap: wrap;
        margin-top: 10px;
    }

    .show {
        padding: 5px;
    }

    .letter {
        width: 30px;
    }
}

/* End: phrase */