/* Main styles */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&Roboto:300');

/* Variables */
:root {
    --color-primary: #06d6a0;
    /* --color-primary: #36BC9B; */
    /* --color-box-letters: #4ac0d5; */
    --color-secondary: #D96FAD;
    --color-tertiary : #967BDC;
    --color-win: #78CF82;
    --color-lose: #D94545;
    --color-start: #5b85b7;
    --color-neutral: #445069;
    --color-neutral-light: #D2D2D2;
    --color-box-letters: #05d69e;
    --color-font-letters: #000;
    --color-keys: #37474F;
    --color-keys-light: rgba(151, 123, 220, 0.322);
    --font-size-large: 60px;
    --font-size-medium: 20px;
    --transition: all .2s ease-in-out;
}

/* End variables */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Alfa Slab One';
}

.header {
    display: flex;
    align-items: center;
    width: 100%;
    min-height: 75px;
    background-color: var(--color-primary);
    /* background-color: var(--color-neutral-light); */
    padding-left: 10px;

    position: fixed;
    top: 0;
    z-index: 1020;
}

.navbar {
    display: flex;
    align-items: center;
    color: black;
    text-decoration: none;
}

.header-logo {
    max-width: 150px;
    height: auto;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 75px;
    /* height: 100vh; */
    height: calc(100vh - 75px);
    display: none;
}





.start {
    background-color: var(--color-neutral-light);
}

.start-winner {
    background-color: var(--color-primary);
}

.start-loser {
    background-color: var(--color-secondary);
}


.start-card {
    display: flex;
    flex-direction: column;
    width: 95%;
    max-width: 500px;
    padding: 35px;
    margin: 10px;
    text-align: center;
    border: 1px solid #000;

    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 5px 50px;
    border: 1px solid rgba(209, 213, 219, 0.3);
}

.start-message {
    margin: 15px 0;
}

.start-message > p {
    margin-top: 15px;
}

.buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.btn {
    display: inline-block;

    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    text-transform: capitalize;
    text-decoration: none;
    cursor: pointer;
    /* background-color: transparent; */
    border: 1px solid transparent;
    border-radius: 5px 50px;
    padding: 0.5rem 1.5rem;
    margin: 7px 0;
    font-size: 1.5rem;
    color: #fff;
    box-shadow: 6px 6px 2px 0px rgba(0,0,0,0.5);
    transition: all 0.7s ease;
}

.btn:hover {
    transition: all 1s ease;
    border-radius: 50px 5px;
}


.btn-start {
    background-color: var(--color-primary);
    border-color: var(--color-primary);
}

.btn-new-phrase {
    background-color: var(--color-secondary);
    border-color: var(--color-secondary);
}

.btn-back-home {
    background-color: var(--color-tertiary);
    border-color: var(--color-tertiary);
}

@media screen and (max-width: 500px){
    .btn {
        width: 90%;
    }
}



.form-section {
    background-color: var(--color-primary);
}

.form-phrase {
    display: flex;
    flex-direction: column;
    width: 95%;
    max-width: 600px;
    padding: 35px;
    margin: 10px;
    border: 1px solid #000;
    
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 5px 50px;
    border: 1px solid rgba(209, 213, 219, 0.3);
}

.input-phrase {
    width: 100%;
    margin: 15px 0;
    padding: 15px;
    font-size: var(--font-size-medium);
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    background-color: transparent;
}

.input-phrase-message {
    color: rgba(0, 0, 0, 0.5);
}

.input-phrase-message-error {
    color: #ff0000;
}

.input-phrase:focus-visible {
    outline: rgba(0, 0, 0, 0.7) solid 1px;
}


.btn-form {
    width: 100%;
}



.game {
    background-color: #f5f5f5;
}

.game-image, .game-phrase {
    display: flex;
    align-items: center;
    justify-content: center;
}

.game-image {
    width: 100%;
    height: 50%;
    /* background-color: #26547C; */
}




.game-phrase {
    width: 100%;
    height: 50%;
    /* background-color: var(--color-secondary); */

    display: flex;
    align-items: center;
}

.phrase-container {
    display: flex;
    width: 90%;
    height: 100%;
    max-width: 1200px;
    flex-direction: column;
}



@media screen and (max-width: 500px){
    .phrase-container {
        width: 95%;
    }
}


